* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: white;
    --secondary-color: navy;
    --heading-color: white;
    --text-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    margin: 10px;
}

/*HEADER, FOOTER for ALL PAGES*/
header {
    display: grid;
    margin: 10px;
    color: var(--heading-color);
    background-color: var(--secondary-color);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divide {
    padding-left: 25px;
    border-left: 2px solid black;
}

header a {
    margin: 0px 20px;
    text-decoration: none;
}

header ul {
    list-style-type: none;
    border: 2px solid black;
    background-color: var(--heading-color);
    display: flex;
    width: 60%;
    justify-content: space-between;
    flex-direction: row;
}

header,
main,
footer {
    width: 890px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
}

nav,
p {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

a img {
    width: 50px;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: navy;
    align-items: center;
    border-top: 1px solid black;
}

footer p {
    color: white;
}

footer a {
    margin: 5px;
}

/*HEADER, FOOTER for ALL PAGES*/

/*HOME PAGE(INDEX)*/
.welcome {
    position: relative;
}

.homeimage {
    width: 100%;
}

.hook {
    left: 40px;
    top: 50px;
    position: absolute;
    color: white;
}

.hook div {
    display: flex;
    align-items: center;
}

.hook .title2 {
    position: absolute;
    top: 28px;
}

.hook h1 {
    font-size: 25px;
}

.hook .splashtitle {
    font-size: 40px;
    margin-right: 10px;
}

.hook .raftingtitle {
    font-size: 70px;
    margin-left: 10px;
}

.exploretrips {
    text-align: center;
    top: 115px;
    right: 40px;
    position: absolute;
}

.exploretrips button {
    color: white;
    background-color: navy;
    border-radius: 10px;
    height: 40px;
    width: 150px;
}

.exploretrips h2 {
    font-size: 20px;
    color: white;
}

.newsletter {
    background-color: navy;
    padding: 50px;
    text-align: start;
    width: 50%;
    margin: 20px;
}

.newsletter p {
    padding: 0px;
    margin: 15px 0px;
    color: white;
}

.newsletter h2 {
    margin: 0px;
    padding: 0px;
    text-align: start;
    color: white;
    font-size: 35px;
}

.newsletter input {
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 40px;
    padding: 5px;
}

.newsletter button {

    padding: 15px;
    width: 130px;
    height: 45px;
    margin-top: 10px;
}

.merchandise {
    width: 100%;
    height: auto;
    margin: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
}

.merchandise h3 {
    grid-column: 1 / 6;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 15px;
    font-size: 50px;
    background-color: var(--secondary-color);
    color: white;
}

.merchandise p {
    margin: 0px;
    padding: 0px;
}

.merchandise figure {
    text-align: center;
}

.merchandise img {
    width: 100px;
    border-radius: 10px;
}

/*HOME PAGE(INDEX)*/

/*TRIPS PAGE*/

.tripdetails {
    width: 100%;
    height: auto;
    padding: 0px 50px;
}

.tripdetails h1 {
    text-align: center;
    margin: 20px 0px;
    font-size: 60px;
    color: var(--secondary-color);
}

.tripbox {
    font-size: 20px;
    display: grid;
    grid-template-columns: 250px 1fr;
    width: 100%;
    height: 200px;
    margin: 20px 0px;
    padding: 20px;
    background-color: navy;
}

.tripbox img {
    width: 220px;
    height: 100%;
}

.tripinfo {
    padding: 0px 20px;
    border-radius: 10px;
    text-align: start;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.tripinfo p {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.tripinfo h2 {
    text-align: start;
    color: var(--secondary-color);
}

.offeringstable {
    width: 100%;
    height: auto;
    padding: 20px 30px;
}

.offeringstable h3 {
    font-size: 60px;
    padding: 20px;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

.offeringstable table {
    margin: 20px 0px;
    width: 100%;
    border-collapse: collapse;
}

.offeringstable th {
    color: var(--heading-color);
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 22px;
    border: 1px solid black;
}

.offeringstable td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.contactus {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
}

.contactus h4 {
    display: inline;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 28px;
}

.contactus button {
    padding: 10px;
    width: 130px;
    font-size: 18px;
    background-color: var(--primary-color);
}

/*TRIPS PAGE*/

section,
article {
    margin: 16px;
    padding: 8px;
}

/*CONTACT PAGE*/
.section1 {
    margin-top: 20px;
    padding: 0px;
    text-align: center;

}

.section1 h1 {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.section1 p {
    margin: 0px;
    padding: 0px;
}

.section2 {
    flex-flow: row nowrap;
    display: flex;
    text-align: center;
}

.userinfo {
    margin-right: 90px;
}

.section2 img {
    height: 440px;
}

.section2 form {
    display: grid;
    grid-template-rows: 20px 20px 1fr 1fr 50px 1fr;
    text-align: start;
    margin-left: 20px;
}

.msgpurpose {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0px;
    flex-direction: row;
    justify-content: space-between;
}

.multiopt {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.section2 textarea {
    display: block;
    width: 100%;
}

.section2 button {
    background-color: var(--secondary-color);
    color: var(--heading-color);
    display: block;
    width: 100%;
    max-height: 30px;
    padding: 7px 0px;
    position: relative;
}

.section3 {
    text-align: center;
    border: 1px solid black;
    margin: 20px 0px 10px;
    padding: 5px 20px 10px;
    background-color: lightgray;
}

.employees {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.employees img {
    height: 100px;
    width: auto;
}

.employees p {
    margin: 0px;
    padding: 0px;
}

.employees figcaption {
    margin: 20px 0px;

}

/*CONTACT PAGE*/

/*ABOUT PAGE*/
.hero {
    margin-top: 10px;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 300px;
    opacity: 0.7;
}

.hero article {
    position: absolute;
    top: 80px;
    background-color: var(--secondary-color);
    opacity: 0.7;
    height: 55%;
}

.hero article img {
    float: right;
    padding: 5px;
    width: auto;
    height: 90%;
}

.try {

    background-color: navy;
}

article p {
    color: white;
}

.hero h1 {
    position: absolute;
    top: 20px;
    padding: 16px;
    color: var(--secondary-color);
    text-align: center;
    width: 100%;

}

.history {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 30px 1fr;
    display: grid;
    margin: 0px;
}

.history h2 {
    grid-column: 1 / 4;
}

.history div img {

    width: 100px;
    height: 100px;
}

.history div {
    align-items: center;
    display: flex;
    flex-direction: row;
}

h2 {
    /* background-color: var(--secondary-color); */
    color: black;
    padding: 15px;
    text-align: center;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
}

.adventure div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adventure figure {
    margin: 20px;
}

.adventure img {
    width: 100%;
}

/*ABOUT PAGE*/