* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --secondary-color: navy;
    --heading-color: white;
    --text-color: black;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    margin: 10px;
}

header {
    display: grid;
    margin: 10px;
    color: var(--heading-color);
    background-color: var(--secondary-color);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divide {
    padding-left: 25px;
    border-left: 2px solid black;
}

header a {
    margin: 0px 20px;
    text-decoration: none;
}

header ul {
    list-style-type: none;
    border: 2px solid black;
    background-color: var(--heading-color);
    display: flex;
    width: 60%;
    justify-content: space-between;
    flex-direction: row;
}

header,
main,
footer {
    width: 890px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.section1 {
    margin-top: 20px;
    padding: 0px;
    text-align: center;

}

.section1 h1 {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.section1 p {
    margin: 0px;
    padding: 0px;
}

.section2 {
    flex-flow: row nowrap;
    display: flex;
    text-align: center;
}

.userinfo {
    margin-right: 90px;
}

.section2 img {
    height: 440px;
}

.section2 form {
    display: grid;
    grid-template-rows: 20px 20px 1fr 1fr 50px 1fr;
    text-align: start;
    margin-left: 20px;
}

.msgpurpose {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0px;
    flex-direction: row;
    justify-content: space-between;
}

.multiopt {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.section2 textarea {
    display: block;
    width: 100%;
}

.section2 button {
    background-color: var(--secondary-color);
    color: var(--heading-color);
    display: block;
    width: 100%;
    max-height: 30px;
    padding: 7px 0px;
}

.section3 {
    text-align: center;
    border: 1px solid black;
    margin: 20px 0px 10px;
    padding: 5px 20px 10px;
    background-color: lightgray;
}

.employees {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.employees img {
    height: 100px;
    width: auto;
}

.employees p {
    margin: 0px;
    padding: 0px;
}

.employees figcaption {
    margin: 20px 0px;

}

.hero {
    margin-top: 10px;
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 300px;
    opacity: 0.7;
}

.hero article {
    position: absolute;
    top: 80px;
    background-color: var(--secondary-color);
    opacity: 0.7;
    height: 55%;
}

.hero article img {
    float: right;
    padding: 5px;
    width: auto;
    height: 90%;
}

.try {

    background-color: navy;
}

article p {
    color: white;
}

.hero h1 {
    position: absolute;
    top: 20px;
    padding: 16px;
    color: var(--secondary-color);
    text-align: center;
    width: 100%;

}

.history {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 30px 1fr;
    display: grid;
    margin: 0px;
}

.history h2 {
    grid-column: 1 / 4;
}

.history div img {

    width: 100px;
    height: 100px;
}

.history div {
    align-items: center;
    display: flex;
    flex-direction: row;
}

h2 {
    /* background-color: var(--secondary-color); */
    color: black;
    padding: 15px;
    text-align: center;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
}

.adventure div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.adventure figure {
    margin: 20px;
}

.adventure img {
    width: 100%;
}

.socialmedia a {
    text-decoration: none;
}

a img {
    width: 50px;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: navy;
    align-items: center;
    border-top: 1px solid black;
}

footer p {
    color: white;
}

footer a {
    margin: 5px;
}