* {
    margin: 0px;
    padding: 0px;
}

table {
    border-collapse: collapse;
    border: 2px solid gray;
    letter-spacing: 1px;
}

table th {
    text-align: center;
    color: white;
    background-color: black;
    padding: 8px 12px;
    margin: 0px;
    border: 1px solid gray;
}

.graybox {
    background-color: lightgray;
}

tbody td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid gray;
    background-color: white;

}