/* '* {}': universally apply to all items in the html file */

/* header {

    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --main-color: darkblue;
    --border-color: black;
    --text-color: black;
}

img {

    width: 100%;
    height: auto;
}

main {
    max-width: 800px;

}

/* This is a comment in CSS */

aside {
    width: 20em;
    text-align: center;
}

aside img {

    width: 200px;
    height: auto;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 12px;
}

h1 {
    color: var(--main-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    margin: 0 0 1rem 1rem;
    box-shadow: 0 0 30px gray;
}

p {
    margin: 1rem;
}

footer {
    text-align: center;
    margin-top: 50px;
    border-top: 1px dotted black;
}

/* Class Selectors */

.box {
    position: relative;
    clear: both;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    background-color: lightgray;
    color: var(--text-color);
}

.box h2 {

    position: absolute;
    top: 25px;
    right: 100px;
}

.indent {

    padding-left: 2rem;
}